{% extends "base.html" %}
{% block content %}

<h1>Uploaded files</h1>
<div class = "main-container">

    <div class="left-panel">            <!--   prawa kolumna -->
        <div class="file-grid"></div>
        <div id="plot-modal", class = "modal hidden">
            <div class="modal-content">
                <span id="plot-close" class="close">&times;</span>
                <img id="plot-image" src="" alt="Plot preview">
            </div>
        </div>
        <div id="bottom-menu" class="bottom-menu hidden"></div>
    </div>
    <div id="analyze_panel" class="right-panel hidden">               <!--   prawa kolumna -->
        <h2>Analysis panel</h2>
        <div id="analyze-results" class="analyze">
            <h1 id="filename"></h1>
            <h2>Spectrogram</h2>
            <img id="plot1" src="" alt="Nie udało się wyświetlić spektrogramu">
            <h2>Selectors</h2>
            <h3>Spectral Kurtosis</h3>
            <img id="plot2" src="" alt="Nie udało się wyświetlić spektrogramu">
            <h3>Jarque-Bera</h3>
            <img id="plot3" src="" alt="Nie udało się wyświetlić spektrogramu">
            <h3>Kolmogorov-Smirnov</h3>
            <img id="plot4" src="" alt="Nie udało się wyświetlić spektrogramu">
            <h3>Anderson-Darling</h3>
            <img id="plot5" src="" alt="Nie udało się wyświetlić spektrogramu">
            <h3>Cramer-von Mises</h3>
            <img id="plot6" src="" alt="Nie udało się wyświetlić spektrogramu">
            <h3>Conditional Variance</h3>
            <img id="plot7" src="" alt="Nie udało się wyświetlić spektrogramu">
            <div id="boundaries-results" class="analyze">
            </div>
        </div>
    </div>    
    <div id="empty_right_panel" class="right-panel">               <!--   prawa kolumna -->
        <h2>Analysis panel</h2>
        Choose a file to analyze
    </div>
</div>
    
<script src="{{ url_for('static', filename='js/files.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_files.css') }}">
{% endblock %}