{% extends "base.html" %}
{% block content %}

<h1>Uploaded files</h1>
<div class = "main-container">

    <div class="left-panel">            <!--   prawa kolumna -->
        <div class="file-grid"></div>
        <div id="plot-modal" class = "modal hidden">
            <div class="modal-content">
                <span id="plot-close" class="close">&times;</span>
                <img id="plot-image" src="" alt="Plot preview">
            </div>
        </div>
        <div id="bottom-menu" class="bottom-menu hidden">
            <p id="bottom-menu-filename"></p>
            <button id="analyze-btn">Analyze</button>
            <button id="show-btn">Show</button>
            <button id="delete-btn">Delete</button>
            <button id="close-btn">Close</button>
        </div>
    </div>
    <div id="analyze_panel" class="right-panel hidden">               <!--   prawa kolumna -->
        <div id="analyze-results" class="analyze">
            <h1 id="analyze-results-filename"></h1>

            <div id="spectrogram-section">
                <h2>Spectrogram</h2>
                <div id="spectrogram-container"></div>
            </div>

            <div id="selectors-section">
                <h2>Selectors</h2>
                <div id="selectors-container"></div>
            </div>

            <div id="boundaries-results"></div>

            <div id="filter-boundaries-prompt">
                <p>Proceed with detected boundaries?</p>
                <button id="proceed-btn">Yes</button>
                <button id="insert-boundaries-btn">Select own boundaries</button>
            </div>

            <form id="custom-boundaries-form" class="hidden">
                <input type="number" id="lower-boundary" placeholder="Lower boundary">
                <input type="number" id="upper-boundary" placeholder="Upper boundary">
                <button type="submit">Filter with selected boundaries</button>
            </form>

            <div id="filter-results" class="hidden">
                <span style="width: 100%; text-align: center;"><h2 id="result-message" ></h2></span>
                <h3>Filtered signal</h3>
                <img id="filtered-signal" src="" alt="Nie udało się wyświetlić">
            </div>
        </div>
    </div>    
    <div id="empty_right_panel" class="right-panel">               <!--   prawa kolumna -->
        <h2>Analysis panel</h2>
        Choose a file to analyze
    </div>
</div>
    
<script src="{{ url_for('static', filename='js/files.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_files.css') }}">
{% endblock %}