{% extends "base.html" %}
{% block content %}
<h1>Load data</h1>
<form id="upload-form" class="upload-container">
    <div id="dropzone" class="dropzone">
        <input type="file" id="file-input" accept=".csv" name="file" class="visually-hidden">
        <p class="drop-text">Drag your file here or <span class="browse">choose a file</span></p>
        <div id="file-preview" class="file-preview hidden">
            <img id="file-icon" src="{{ url_for('static', filename='images/icon.png') }}" alt="File icon"> <!-- from flaticom -->
            <p id="file-name" class="file-name" aria-live="polite"></p>
        </div>
    </div>

    <div class="controls">
        <button type="submit" class="btn primary">Upload</button>
        <p id="error" class="error" hidden></p>
    </div>
</form>
<div id="upload-modal" class = "modal hidden">
    <div class="modal-content">    
        <h2 id="upload-modal-text">File loaded</h2>
        <button id="upload-modal-next">Continue</button>   
    </div>
</div>


<script src="{{ url_for('static', filename='js/load.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_load.css') }}">
{% endblock %}