<!DOCTYPE html>
<html>
        <title>Local damage detection</title>
        <link rel="stylesheet" href="">
        <script src=""></script>
    </head>
    <body>
        <div class="container">    
            <div class="sidebar">
                <h2>Menu</h2>
                <nav>
                    <a>Analyze data</a><br>
                    <a>Load data</a><br>
                    <a>Generate data</a><br>
                    <a>Info</a><br>
                </nav>
            </div>
            <div id="content">
            </div>
        </div>
    </body>
</html>