{% extends "base.html" %}
{% block content %}

<h1>Uploaded files</h1>
<div class = "main-container">

    <div class="left-panel">            <!--   prawa kolumna -->
        <div class="file-grid"></div>
        <div id="plot-modal", class = "modal hidden">
            <div class="modal-content">
                <span id="plot-close" class="close">&times;</span>
                <img id="plot-image" src="" alt="Plot preview">
            </div>
        </div>
        <div id="bottom-menu" class="bottom-menu hidden"></div>
    </div>
    <div class="right-panel">               <!--   prawa kolumna -->
        <h2>Analysis panel</h2>
        <div id="analyze-results" class="analyze">

        </div>
    </div>
</div>
    
<script src="{{ url_for('static', filename='js/files.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_files.css') }}">
{% endblock %}