{% extends "base.html" %}
{% block content %}
<h1>Load data</h1>
<form id="upload-form" class="upload-container">
    <div id="dropzone" class="dropzone">
        <input type="file" id="file-input" accept=".csv" name="file" class="visually-hidden">
        <p class="drop-text">Przeciągnij plik tutaj lub <span class="browse">wybierz plik</span></p>
        <p id="file-name" class="file-name" aria-live="polite"></p>
    </div>

    <div class="controls">
        <button type="submit" class="btn primary">Wyślij</button>
        <p id="error" class="error" hidden></p>
    </div>
</form>


<script src="{{ url_for('static', filename='js/load.js')}}"></script>
{% endblock %}