<h1>Generate data</h1>
<h1>Fill out the form</h1>
<form id="generateForm">
    <label>Amplituda impulsu:</label><br>
    <input type="text" name="field1" required><br><br>
    
    <label>Częstotliwość próbkowania:</label><br>
    <input type="text" name="field2" required><br><br>
    
    <label>Długość sygnału:</label><br>
    <input type="text" name="field3" required><br><br>
    
    <label>Częstotliwość powtarzania impulsów:</label><br>
    <input type="text" name="field4" required><br><br>
    
    <label>Środek pasma [Hz]:</label><br>
    <input type="text" name="field5" required><br><br>
    
    <label>Szerokość pasma [Hz]:</label><br>
    <input type="text" name="field6" required><br><br>
    
    <label>Przesunięcie impulsów:</label><br>
    <input type="text" name="field7" required><br><br>
    
    <button type="submit">Generuj sygnał</button>
</form>