<!DOCTYPE html>
<html>
    <head>
        <title>Local damage detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">    
            <div class="sidebar">
                <h2>Menu</h2>
                <a href="{{url_for('index')}}">Load data</a><br>  <!-- tutaj buttony muszą po prostu zamykać menu, jeśli klikniemy na stronę na której jesteśmy-->
                <a href="{{url_for('generate')}}">Generate data</a><br>
                <a href="{{url_for('info')}}">Info</a><br>
            </div>
            <div class="main">
                <h1>Load data</h1>
                <form action="/analyze", method = "post", enctype="multipart/form-data">
                    <input type="file", name="datafile", required>
                    <button type="submit">Wyślij i analizuj</button>
                </form>
            </div>
        </div>
    </body>
</html>