.container {
    display: flex;          /* Ustawia flexbox – elementy wewnątrz układają się w poziomie */
    height: 100vh;
    justify-content: space-between; /* Opcjonalnie – odstęp między nimi */
}

.sidebar {
flex: 1;
border: 2px solid black;   
padding: 20px;
}

#content {
flex: 10; 
border: 2px solid black;
padding: 20px;
}